*{
    padding: 0;
    margin: 0;
}
.ynt{
    color: rgb(100, 70, 170);
}
body{
    padding: 0;
    margin: 0;        
    color: rgb(252, 0, 0);
    background-image: url();
background-repeat: no-repeat;
background-size: cover;
}

.d1{
    background-color: cornsilk;
    margin: 0;
    position: relative;
    padding-left: 80px;
}
header{
    padding:0 ;
    margin: 0;
}
.d2{
    position: relative;
    left: 60em;
    bottom: 60px;
}
nav{
    background-color: white;
    padding: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #d39626;
    height: 50px;
}
.ul2{
    position: absolute;
    top: 25px;
    display: none;
}
li{
    float: left;
    position: relative;
}
a{
    text-decoration: none;
    background: #d39626;
    color: rgb(5, 5, 5);
    padding: 0 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;
    display: block;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
li:hover > .ul2{
    display: block;
    width: 250px;
}
li:hover > .ul2 > .li2{
    float: none;
}
a:hover{
    background: rgb(175, 54, 10);
}
.conteiner1{
    display: flex;
}
.logo{
    width: 120px;
    padding-left: 90px;
}
.navbar{
    padding: 0;
   width: 1000px;
   display: flex;
   justify-content: center;
}
.login{
    width: 150px;
}
.conteiner2{
    display: flex ;
    flex-flow: row wrap ;
    justify-content: space-around;
    padding: 0;
    margin: 0;

}
figure{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    height: 200px;
    
}
@media all and (max-width:800px ){
    .conteiner1{
        justify-content: space-around;
    }
}
@media all and (max-width: 600px ){
    .conteiner1{
        flex-flow: column wrap;
        padding: 0;
    }
}
button{
    margin-left: 15px;
}
